root = true

[*]
indent_style = space
indent_size = 4
tab_width = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = false
max_line_length = 120

[*.xml]
indent_size = 2

[*.cs]
csharp_blank_lines_between_using_directives = 0
csharp_new_line_before_parameters = true
csharp_method_declaration_parameter_list_wrapping = wrap_if_long
